.list-group-item {
  background-color: #c0d6fb;
}

.row.justify-content-center {
  color: white;
}

.bg-primary {
  background-color: #668d81 !important;
}

.footer {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
