.header {
  background: #73d8b8;
  height: 200px;
}

.footer {
  background-color: #f0f0f0;
  height: 100px;
}

h1 {
  color: white;
}
table {
  background-color: #c0c0c0;
}

td {
  border: 1px solid grey;
  width: 300px;
}
/*rij 1*/
#cel1-aardbei {
  background-color: rgb(205 13 13);
}
#cel2-aardbei {
  background-color: #8acf72;
}
#cel3-banaan {
  background-color: #f1cf5a;
}
#cel4-banaan {
  background-color: #b94be9;
}
/*rij2*/
#cel5-blueberry {
  background-color: #6f748b;
}
#cel6-blueberry {
  background-color: #e9aa4b;
}
#cel7-sinaasappel {
  background-color: #4bc7e9;
}
#cel8-sinaasappel {
  background-color: #e94b4b;
}

/*rij3*/
#cel9-limoen {
  background-color: #cee373;
}
#cel10-limoen {
  background-color: #965ae9;
}
#cel11-meloen {
  background-color: #e7a303;
}
#cel12-meloen {
  background-color: #c6feff;
}

/*rij4*/
#cel13-kiwi {
  background-color: #b8893a;
}
#cel14-kiwi {
  background-color: #ff54be;
}
#cel15-appel {
  background-color: #aa090f;
}
#cel16-appel {
  background-color: #d1e1ff;
}
